**/.DS_Store
Runners/rideRAPTOR
Runners/test.*
Networks/*
KARRI/Publications/KaRRi/Inputs/*
KARRI/RawData/CMakeFiles/*
./KARRI/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
./KARRI/CMakeFiles/3.27.4/CompilerIdCXX/a.out
./KARRI/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
./KARRI/CMakeFiles/3.25.1/CompilerIdCXX/a.out
./KARRI/CMakeFiles/FindOpenMP/ompver_CXX.bin
./KARRI/Build/Release/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
./KARRI/Build/Release/CMakeFiles/3.27.4/CompilerIdCXX/a.out
./KARRI/Build/Release/CMakeFiles/FindOpenMP/ompver_CXX.bin
./KARRI/Build/Release/Launchers/RunP2PAlgo
./KARRI/Build/Release/RawData/TransformLocations
./KARRI/Build/Release/RawData/OsmToCarAndPassengerGraph
./KARRI/External/RoutingKit/generate_make_file
./KARRI/External/RoutingKit/lib/libroutingkit.so
./KARRI/External/RoutingKit/bin/compute_nested_dissection_order
./KARRI/External/RoutingKit/bin/test_protobuf
./KARRI/External/RoutingKit/bin/generate_random_source_times
./KARRI/External/RoutingKit/bin/generate_test_queries
./KARRI/External/RoutingKit/bin/convert_road_dimacs_graph
./KARRI/External/RoutingKit/bin/osm_extract
./KARRI/External/RoutingKit/bin/test_contraction_hierarchy_extra_weight
./KARRI/External/RoutingKit/bin/export_road_dimacs_graph
./KARRI/External/RoutingKit/bin/test_tag_map
./KARRI/External/RoutingKit/bin/generate_dijkstra_rank_test_queries
./KARRI/External/RoutingKit/bin/test_permutation
./KARRI/External/RoutingKit/bin/test_geo_dist
./KARRI/External/RoutingKit/bin/test_inverse_vector
./KARRI/External/RoutingKit/bin/graph_to_dot
./KARRI/External/RoutingKit/bin/test_customizable_contraction_hierarchy_pinned_query
./KARRI/External/RoutingKit/bin/compare_vector
./KARRI/External/RoutingKit/bin/decode_vector
./KARRI/External/RoutingKit/bin/generate_random_node_list
./KARRI/External/RoutingKit/bin/test_strongly_connected_component
./KARRI/External/RoutingKit/bin/randomly_permute_nodes
./KARRI/External/RoutingKit/bin/graph_to_svg
./KARRI/External/RoutingKit/bin/test_basic_features
./KARRI/External/RoutingKit/bin/encode_vector
./KARRI/External/RoutingKit/bin/test_customizable_contraction_hierarchy_perfect_customization
./KARRI/External/RoutingKit/bin/test_id_mapper
./KARRI/External/RoutingKit/bin/show_path
./KARRI/External/RoutingKit/bin/test_customizable_contraction_hierarchy
./KARRI/External/RoutingKit/bin/run_dijkstra
./KARRI/External/RoutingKit/bin/test_nearest_neighbor
./KARRI/External/RoutingKit/bin/test_nested_dissection
./KARRI/External/RoutingKit/bin/test_customizable_contraction_hierarchy_path_query
./KARRI/External/RoutingKit/bin/compute_geographic_distance_weights
./KARRI/External/RoutingKit/bin/test_customizable_contraction_hierarchy_reset
./KARRI/External/RoutingKit/bin/run_contraction_hierarchy_query
./KARRI/External/RoutingKit/bin/convert_road_dimacs_coordinates
./KARRI/External/RoutingKit/bin/examine_ch
./KARRI/External/RoutingKit/bin/test_contraction_hierarchy_pinned_query
./KARRI/External/RoutingKit/bin/compute_contraction_hierarchy
./KARRI/External/RoutingKit/bin/generate_constant_vector
./KARRI/External/RoutingKit/bin/test_dijkstra
./KARRI/External/RoutingKit/bin/test_buffered_asynchronous_reader
./KARRI/External/RoutingKit/bin/test_id_set_queue
./KARRI/External/RoutingKit/bin/test_osm_simple
./KARRI/External/RoutingKit/bin/test_bit_vector
./KARRI/External/RoutingKit/bin/test_sort
./KARRI/External/RoutingKit/bin/test_contraction_hierarchy_path_query
./KARRI/External/RoutingKit/bin/test_customizable_contraction_hierarchy_customization
./KARRI/External/json/docs/mkdocs/scripts/check_structure.py
./KARRI/External/json/docs/usages/ios.png
./KARRI/External/json/build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
./KARRI/External/json/build/CMakeFiles/3.27.4/CompilerIdCXX/a.out
./KARRI/External/json/build/CMakeFiles/CheckTypeSize/sizeof_size_t.bin
./KARRI/External/json/build/tests/test-json_pointer_cpp11
./KARRI/External/json/build/tests/test-element_access2_cpp11
./KARRI/External/json/build/tests/test-element_access2_cpp17
./KARRI/External/json/build/tests/test-allocator_cpp11
./KARRI/External/json/build/tests/test-constructor2_cpp11
./KARRI/External/json/build/tests/test-element_access2_cpp14
./KARRI/External/json/build/tests/test-binary_formats_cpp11
./KARRI/External/json/build/tests/test-type_traits_cpp11
./KARRI/External/json/build/tests/test-convenience_cpp11
./KARRI/External/json/build/tests/test-meta_cpp11
./KARRI/External/json/build/tests/test-class_parser_cpp11
./KARRI/External/json/build/tests/test-conversions_cpp11
./KARRI/External/json/build/tests/test-json_pointer_cpp20
./KARRI/External/json/build/tests/test-no-mem-leak-on-adl-serialize_cpp11
./KARRI/External/json/build/tests/test-class_iterator_cpp11
./KARRI/External/json/build/tests/test-ubjson_cpp11
./KARRI/External/json/build/tests/test-pointer_access_cpp11
./KARRI/External/json/build/tests/test-regression2_cpp17
./KARRI/External/json/build/tests/test-noexcept_cpp11
./KARRI/External/json/build/tests/test-algorithms_cpp11
./KARRI/External/json/build/tests/test-iterators1_cpp11
./KARRI/External/json/build/tests/test-unicode4_cpp11
./KARRI/External/json/build/tests/test-ordered_json_cpp11
./KARRI/External/json/build/tests/test-element_access1_cpp11
./KARRI/External/json/build/tests/test-regression1_cpp11
./KARRI/External/json/build/tests/test-hash_cpp11
./KARRI/External/json/build/tests/test-concepts_cpp11
./KARRI/External/json/build/tests/test-comparison_legacy_cpp11
./KARRI/External/json/build/tests/test-merge_patch_cpp11
./KARRI/External/json/build/tests/test-udt_macro_cpp11
./KARRI/External/json/build/tests/test-cbor_cpp11
./KARRI/External/json/build/tests/abi/diag/abi_compat_diag
./KARRI/External/json/build/tests/abi/inline_ns/abi_compat_inline_ns
./KARRI/External/json/build/tests/abi/config/abi_config_custom
./KARRI/External/json/build/tests/abi/config/abi_config_noversion
./KARRI/External/json/build/tests/abi/config/abi_config_default
./KARRI/External/json/build/tests/test-unicode2_cpp11
./KARRI/External/json/build/tests/test-iterators2_cpp20
./KARRI/External/json/build/tests/test-comparison_legacy_cpp20
./KARRI/External/json/build/tests/test-udt_cpp11
./KARRI/External/json/build/tests/test-items_cpp17
./KARRI/External/json/build/tests/test-json_patch_cpp11
./KARRI/External/json/build/tests/test-regression1_cpp17
./KARRI/External/json/build/tests/test-alt-string_cpp11
./KARRI/External/json/build/tests/test-comparison_cpp11
./KARRI/External/json/build/tests/test-bjdata_cpp11
./KARRI/External/json/build/tests/test-serialization_cpp11
./KARRI/External/json/build/tests/test-udl_cpp11
./KARRI/External/json/build/tests/test-deserialization_cpp11
./KARRI/External/json/build/tests/test-class_lexer_cpp11
./KARRI/External/json/build/tests/test-regression2_cpp11
./KARRI/External/json/build/tests/test-diagnostics_cpp11
./KARRI/External/json/build/tests/test-comparison_cpp20
./KARRI/External/json/build/tests/test-msgpack_cpp11
./KARRI/External/json/build/tests/test-to_chars_cpp11
./KARRI/External/json/build/tests/test-disabled_exceptions_cpp11
./KARRI/External/json/build/tests/test-modifiers_cpp11
./KARRI/External/json/build/tests/test-conversions_cpp17
./KARRI/External/json/build/tests/test-user_defined_input_cpp11
./KARRI/External/json/build/tests/test-testsuites_cpp11
./KARRI/External/json/build/tests/test-regression2_cpp20
./KARRI/External/json/build/tests/test-large_json_cpp11
./KARRI/External/json/build/tests/test-inspection_cpp11
./KARRI/External/json/build/tests/test-byte_container_with_subtype_cpp11
./KARRI/External/json/build/tests/test-class_const_iterator_cpp11
./KARRI/External/json/build/tests/test-unicode3_cpp11
./KARRI/External/json/build/tests/test-bson_cpp11
./KARRI/External/json/build/tests/test-windows_h_cpp11
./KARRI/External/json/build/tests/test-wstring_cpp11
./KARRI/External/json/build/tests/test-items_cpp11
./KARRI/External/json/build/tests/test-assert_macro_cpp11
./KARRI/External/json/build/tests/test-ordered_map_cpp11
./KARRI/External/json/build/tests/test-iterators2_cpp11
./KARRI/External/json/build/tests/test-unicode5_cpp11
./KARRI/External/json/build/tests/test-unicode1_cpp11
./KARRI/External/json/build/tests/test-custom-base-class_cpp11
./KARRI/External/json/build/tests/test-capacity_cpp11
./KARRI/External/json/build/tests/test-reference_access_cpp11
./KARRI/External/json/build/tests/test-constructor1_cpp11
./KARRI/External/json/build/tests/test-readme_cpp11
./KARRI/External/json/tools/generate_natvis/generate_natvis.py
./KARRI/External/json/tools/amalgamate/amalgamate.py
./KARRI/External/json/tools/serve_header/serve_header.py
./KARRI/External/json/tests/thirdparty/Fuzzer/build.sh
./KARRI/External/json/tests/thirdparty/imapdl/filterbr.py
./KARRI/Launchers/RunP2PAlgo
./KARRI/.git/hooks/pre-commit.sample
./KARRI/.git/hooks/push-to-checkout.sample
./KARRI/.git/hooks/pre-rebase.sample
./KARRI/.git/hooks/pre-receive.sample
./KARRI/.git/hooks/fsmonitor-watchman.sample
./KARRI/.git/hooks/update.sample
./KARRI/.git/hooks/applypatch-msg.sample
./KARRI/.git/hooks/commit-msg.sample
./KARRI/.git/hooks/prepare-commit-msg.sample
./KARRI/.git/hooks/pre-push.sample
./KARRI/.git/hooks/pre-applypatch.sample
./KARRI/.git/hooks/pre-merge-commit.sample
./KARRI/.git/hooks/post-update.sample
./KARRI/.git/modules/External/RoutingKit/hooks/pre-commit.sample
./KARRI/.git/modules/External/RoutingKit/hooks/push-to-checkout.sample
./KARRI/.git/modules/External/RoutingKit/hooks/pre-rebase.sample
./KARRI/.git/modules/External/RoutingKit/hooks/pre-receive.sample
./KARRI/.git/modules/External/RoutingKit/hooks/fsmonitor-watchman.sample
./KARRI/.git/modules/External/RoutingKit/hooks/update.sample
./KARRI/.git/modules/External/RoutingKit/hooks/applypatch-msg.sample
./KARRI/.git/modules/External/RoutingKit/hooks/commit-msg.sample
./KARRI/.git/modules/External/RoutingKit/hooks/prepare-commit-msg.sample
./KARRI/.git/modules/External/RoutingKit/hooks/pre-push.sample
./KARRI/.git/modules/External/RoutingKit/hooks/pre-applypatch.sample
./KARRI/.git/modules/External/RoutingKit/hooks/pre-merge-commit.sample
./KARRI/.git/modules/External/RoutingKit/hooks/post-update.sample
./KARRI/.git/modules/External/json/hooks/pre-commit.sample
./KARRI/.git/modules/External/json/hooks/push-to-checkout.sample
./KARRI/.git/modules/External/json/hooks/pre-rebase.sample
./KARRI/.git/modules/External/json/hooks/pre-receive.sample
./KARRI/.git/modules/External/json/hooks/fsmonitor-watchman.sample
./KARRI/.git/modules/External/json/hooks/update.sample
./KARRI/.git/modules/External/json/hooks/applypatch-msg.sample
./KARRI/.git/modules/External/json/hooks/commit-msg.sample
./KARRI/.git/modules/External/json/hooks/prepare-commit-msg.sample
./KARRI/.git/modules/External/json/hooks/pre-push.sample
./KARRI/.git/modules/External/json/hooks/pre-applypatch.sample
./KARRI/.git/modules/External/json/hooks/pre-merge-commit.sample
./KARRI/.git/modules/External/json/hooks/post-update.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/pre-commit.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/push-to-checkout.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/pre-rebase.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/pre-receive.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/fsmonitor-watchman.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/update.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/applypatch-msg.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/commit-msg.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/prepare-commit-msg.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/pre-push.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/pre-applypatch.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/pre-merge-commit.sample
./KARRI/.git/modules/External/fast-cpp-csv-parser/hooks/post-update.sample
./KARRI/.git/modules/External/vectorclass/hooks/pre-commit.sample
./KARRI/.git/modules/External/vectorclass/hooks/push-to-checkout.sample
./KARRI/.git/modules/External/vectorclass/hooks/pre-rebase.sample
./KARRI/.git/modules/External/vectorclass/hooks/pre-receive.sample
./KARRI/.git/modules/External/vectorclass/hooks/fsmonitor-watchman.sample
./KARRI/.git/modules/External/vectorclass/hooks/update.sample
./KARRI/.git/modules/External/vectorclass/hooks/applypatch-msg.sample
./KARRI/.git/modules/External/vectorclass/hooks/commit-msg.sample
./KARRI/.git/modules/External/vectorclass/hooks/prepare-commit-msg.sample
./KARRI/.git/modules/External/vectorclass/hooks/pre-push.sample
./KARRI/.git/modules/External/vectorclass/hooks/pre-applypatch.sample
./KARRI/.git/modules/External/vectorclass/hooks/pre-merge-commit.sample
./KARRI/.git/modules/External/vectorclass/hooks/post-update.sample
./KARRI/RawData/TransformLocations
./KARRI/RawData/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
./KARRI/RawData/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
./KARRI/RawData/CMakeFiles/3.27.4/CompilerIdC/a.out
./KARRI/RawData/CMakeFiles/3.27.4/CompilerIdCXX/a.out
./ULTRA/Runnables/ULTRA
./ULTRA/Runnables/Network
./.git/hooks/pre-commit.sample
./.git/hooks/push-to-checkout.sample
./.git/hooks/pre-rebase.sample
./.git/hooks/pre-receive.sample
./.git/hooks/fsmonitor-watchman.sample
./.git/hooks/update.sample
./.git/hooks/applypatch-msg.sample
./.git/hooks/commit-msg.sample
./.git/hooks/prepare-commit-msg.sample
./.git/hooks/pre-push.sample
./.git/hooks/pre-applypatch.sample
./.git/hooks/pre-merge-commit.sample
./.git/hooks/post-update.sample
